:root {
  --basedark: rgba(35, 36, 42, 1);
  --baselight: rgba(255, 255, 255, 1);
  --basepastel: rgba(209, 220, 229, 0.9);
  --baseprimary: rgba(17, 112, 255, 1);
  --basesecondary: rgba(255, 201, 40, 1);
  --headline-h1-title-font-family: "Poppins-Bold", Helvetica;
  --headline-h1-title-font-size: 64px;
  --headline-h1-title-font-style: normal;
  --headline-h1-title-font-weight: 700;
  --headline-h1-title-letter-spacing: -2.88px;
  --headline-h1-title-line-height: 110.00000238418579%;
  --headline-h3-title-font-family: "Poppins-Bold", Helvetica;
  --headline-h3-title-font-size: 52px;
  --headline-h3-title-font-style: normal;
  --headline-h3-title-font-weight: 700;
  --headline-h3-title-letter-spacing: -1.56px;
  --headline-h3-title-line-height: 110.00000238418579%;
  --headline-h4-title-font-family: "Poppins-Bold", Helvetica;
  --headline-h4-title-font-size: 38px;
  --headline-h4-title-font-style: normal;
  --headline-h4-title-font-weight: 700;
  --headline-h4-title-letter-spacing: -1.14px;
  --headline-h4-title-line-height: 120.00000476837158%;
  --headline-h5-title-font-family: "Poppins-Bold", Helvetica;
  --headline-h5-title-font-size: 32px;
  --headline-h5-title-font-style: normal;
  --headline-h5-title-font-weight: 700;
  --headline-h5-title-letter-spacing: -1.44px;
  --headline-h5-title-line-height: 110.00000238418579%;
  --shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  --shadow-v1: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
  --shadow-v2: 0px 3px 21px 2px rgba(39, 92, 141, 0.36);
  --text-large-text-font-family: "Roboto-Regular", Helvetica;
  --text-large-text-font-size: 28px;
  --text-large-text-font-style: normal;
  --text-large-text-font-weight: 400;
  --text-large-text-letter-spacing: -0.28px;
  --text-large-text-line-height: 120.00000476837158%;
  --text-medium-text-font-family: "Roboto-Regular", Helvetica;
  --text-medium-text-font-size: 24px;
  --text-medium-text-font-style: normal;
  --text-medium-text-font-weight: 400;
  --text-medium-text-letter-spacing: -0.48px;
  --text-medium-text-line-height: 129.99999523162842%;
  --text-small-text-font-family: "Poppins-Bold", Helvetica;
  --text-small-text-font-size: 21px;
  --text-small-text-font-style: normal;
  --text-small-text-font-weight: 700;
  --text-small-text-letter-spacing: -0.105px;
  --text-small-text-line-height: 129.99999523162842%;
}
